@import "./global.scss";

.input-text-container {
  @include column;

  label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  input,
  textarea,
  .textarea-disabled {
    padding: 8px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }

  textarea {
    min-height: 150px;
  }
}
